#signUp {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#image {
    background-image: url("https://images.pexels.com/photos/416405/pexels-photo-416405.jpeg?cs=srgb&dl=adult-architect-blueprint-416405.jpg&fm=jpg");
    background-size: cover;
    background-position: center; 
}

#title {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10%;
}

#form{
    align-self: center;
    text-align: center;
}

#account-info input {
    background-color: #ECECEC;
    width: 80%;
    height: 40px;
    max-width: 500px;
    margin: 20px auto;
    border: none;
    outline: none;
    padding-left: 30px;
    border-radius: 10px;
    display: block;
}

#account-type {
    margin: 30px auto;
}

#account-type input {
    width: 12px;
    height: 12px;
    margin: 0 5px
}

label:not(:last-child) {
    margin-right: 50px;
}

#already {
    margin-top: 100px;
}

@media(min-width: 1000px) {
    #image {
        height: 100vh;
        width: 50vw;
        max-width: 50vw;
    }
}

@media(max-width: 999px) {
    #signUp {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    #image {
        height: auto;
        width: 100%;
        margin-bottom: 100px;
    }
}