nav {
    height: 60px;
    background-color: rgb(240, 240, 240);
    /* box-shadow: 0px 1px 2px #e4e4e4; */
}

input {
    width: 35vw;
    height: 26px;
    border: none;
    outline: none;
    margin: 17px 80px;
    padding-left: 30px;
    border-radius: 10px;
}