#summary,
#experience,
#education {
    background-color: #FFF;
    border: 1px solid #EAEDF3;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.04);
    border-radius: 4px;
    margin: 1vw;
}

#content h3 {
    line-height: 50px;
    margin: 0;
    padding: 0 3%;
    border-bottom: 1px solid #EAEDF3;
}

#content p {
    margin: 5% 5%;
}