#profile-bar {
    grid-area: profile-bar;
}

#navbar {
    grid-area: nav-bar;
}

#basic-info {
    grid-area: basic-info;
}

#about {
    grid-area: about;
}

#files {
    grid-area: files;
}


.App {
    display: grid;
    grid-template-rows: 60px 300px;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "profile-bar nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar"
    "profile-bar basic-info about about about about files";
    /* "profile-bar basic-info experience experience experience experience ." */
    /* "profile-bar basic-info experience education education education ."; */
    grid-gap: 0.5vw;
}

