#navbar {
<<<<<<< HEAD
    grid-area: navbar;
}

#sidebar {
    grid-area: sidebar;
    margin-left: 0.5vw;
=======
    grid-area: nav-bar;
>>>>>>> 595067b0a4f396a2c1dae966ef1a9e9cb471b7dd
}

#profile-bar {
    grid-area: profile-bar;
    margin: 0 15px;
}

#basic-info {
    grid-area: basic-info;
}

<<<<<<< HEAD
#files {
    grid-area: files;
    margin-right: 0.5vw;
=======
/* #about {
    grid-area: about;
    margin: 0 20px;
} */

#files {
    grid-area: files;
    margin: 0 15px;
>>>>>>> 595067b0a4f396a2c1dae966ef1a9e9cb471b7dd
}

/* A B O U T */
#education {
    grid-area: education;
}

#experience {
    grid-area: experience;
}

#section-content {
    grid-area: experience;
    background-color: #FFF;
    border: 1px solid #EAEDF3;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.04);
    border-radius: 3px;
}

.App {
    display: grid;
<<<<<<< HEAD
    grid-template-rows: 60px 1fr 1fr;
    grid-template-columns: 300px 1fr 0.8fr 200px;
    grid-template-areas:
        "navbar navbar navbar navbar"
        "sidebar basic-info basic-info files"
        ". experience education .";
=======
    grid-template-rows: 60px 1fr;
    grid-template-columns: 300px 2fr 2fr 0.7fr;
    grid-template-areas:
    "nav-bar nav-bar nav-bar nav-bar"
    "profile-bar basic-info basic-info files";
    /* "profile-bar about about about about about files"; */
    /* "profile-bar basic-info experience experience experience experience ." */
    /* "profile-bar basic-info experience education education education ."; */
>>>>>>> 595067b0a4f396a2c1dae966ef1a9e9cb471b7dd
    grid-gap: 0.5vw;
}

